
.fa-css3-alt{
    color: #264de4;
}

.fa-react{
    color: #61DBFB;  
}

.fa-js-square{
    color: #F0DB4F;
}        

.fa-html5{
    color:#E44D26;
}

.fa-php{
    color:black;
}

.fa-node-js{
 color: #3C873A;
}

.fa-git-alt{
    color:#F1502F;
}

.fa-sass{
    color:#CD6799;
}

