$main-color: #3a4750;
$main-dark: #303841;
$main-text:#eeeeee;
$primary-color: #00adb5;
$primary-color-c:#B50800;
$primary-color-c-2: #B7985B;

$heading-font: 'Rubik Mono One', sans-serif;
$main-font: 'Share Tech Mono', monospace;

$session-padding: 3rem 8%;

$nav-size: 60px;